.days{
  display: grid;
  grid-template-columns: repeat(7, 20px [col-start]);
  grid-template-rows: auto;
}

.active{
  background-color: #8AD8FB;
  border: 1px solid #8AD8FB;
  border-radius: 10px;
}

div.days{
  cursor: pointer;
}

.busy{
  color:red;
}