.tasklist {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    gap: 15px 0px;
    grid-template-areas:
        "header"
        "tasks";
    grid-area: tasklist;

}

.header {
    grid-area: header;

}

.tasks {
    grid-area: tasks;
    color: #b3b3b3;
}

.tasks ul {
    padding: 0;
    margin: 0;
}

.tasks ul>li {
    list-style: none;
}

.tasks input[type="text"] {
    margin-left: 25px;
    margin-top: 10px;
    color: #b3b3b3;
    box-shadow: #b3b3b3;
}

.tasks input[type="text"]::placeholder {
    color: #b3b3b3;
}

.tasks input[type="checkbox"] {
    margin-right: 10px;
}
